// admin lte
@import '~admin-lte/dist/css/adminlte.css';

// Fonts
@import "node_modules/font-awesome/scss/font-awesome.scss";

// sweet alert
@import '~@sweetalert2/theme-borderless/borderless.scss';



.schema-color
{
    background-color: #343A40;
    // background-color: #6a737c;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('/storage/images/design/random/loader.gif');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-position: center;
}
